@{
    ViewBag.Title = "Trip Switch";
}

<div class="row main-search">
    <div class="col-md-12">

        <section class="search-wrapper">
            <div class="container">
                <div class="searchbar col-md-12" role="navigation">
                    <h1>Get There Faster!</h1>
                    <h3>@ViewBag.Message</h3>
                    
                        
                        <div class="row">
                            <div class="col-md-2 form-group from" data-title="Where are you leaving from?" data-toggle="tooltip" data-trigger="manual">
                                <label for="search_from">From</label>
                                <span class="twitter-typeahead" style="position: relative; display: inline-block;">
                                    <input type="text" class="tt-hint" disabled="" autocomplete="off" spellcheck="false" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(238, 238, 238);">
                                    <input id="from" name="from" placeholder="e.g., CLE" type="text" class="tt-input" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: 'Open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 600; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;">
                                        <div class="tt-dataset-ssAutocomplete"></div>
                                        <div class="tt-dataset-geocoder"></div>
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-2 form-group going_to" data-title="Where would you like to go?" data-toggle="tooltip" data-trigger="manual">
                                <label for="search_going_to">To</label>
                                <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">
                                    <input type="text" class="tt-hint" disabled="" autocomplete="off" spellcheck="false" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(238, 238, 238);">
                                    <input id="to" name="to" placeholder="e.g., SFO" type="text" class="tt-input" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: 'Open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 600; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;">
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6 col-xs-6 date-from form-group" data-min-date="@DateTime.Now" data-title="When would you like to go?" data-toggle="tooltip" data-trigger="manual">
                                        <label for="search_departure_at">Departure</label>
                                        <input id="date" name="date"  type="text" class="dateField">
                                    </div>
                                    <div class="col-md-6 col-xs-6 form-group"  data-title-bahncard-combination-incorrect="Please choose a proper date." data-title-date-in-the-past="Departure date must be in the future." data-title-incorrect-passenger-count="We currently only support 1 to 5 passengers." data-title-invalid-date-format="Please enter a valid date. (or use the handy datepicker)" data-title-invalid-return-date="The return date must be after the date of departure." data-title-invalid-search-submit="We're sorry, we ran into a few issues while trying to build your search:" data-title-max-search-attempts="Max search attempts exceeded" data-title-missing-date-from="When would you like to go?" data-title-missing-from="Where are you leaving from?" data-title-missing-going-to="Where would you like to go?" data-title-missing-search-type="There was a problem with your search. Please try a new one." data-title-missing-vehicle="Please select at least one type of vehicle" data-title-no-times-available="We're sorry; there are no current times available" data-title-noscript-description="fromAtoB requires JavaScript to be enabled in order for our site to work. Please check your browser settings
to ensure it is enabled." data-title-noscript-header="Javascript is disabled in your browser" data-title-passenger-age-is-not-number="Passenger age must be a number" data-title-please-reload="We're sorry; an error has occurred. Please reload." data-title-something-went-wrong="Something Went Wrong" data-title-use-autocomplete="Please choose from our autocomplete suggestions" data-toggle="tooltip" data-trigger="manual">
                                        <label for="passengers">Number of Passengers</label>
                                        <input id="passengers" name="passengers" placeholder="1" value="1" type="number" class="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-2 search">
                                <button class="search-button" id="checkAir" style="width:100%;">Search</button>
                                <div class="row">
                                    <div class="col-md-12 advanced-link-wrapper">
                                        <a href="#" id="advanced-options-link">
                                            Advanced options
                                            <i class="icon-plus2" style="display: inline;"></i>
                                            <i class="icon-minus2" style="display: none;"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 advanced-options" style="display: none;">
                                <div class="row">
                                    <div class="col-md-12 passengers">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="row passenger">
                                                    <div class="col-md-12">
                                                        <div class="title">
                                                            Additional Passengers
                                                        </div>
                                                        <div class="field">
                                                            <input id="passengersInfantSeat" type="number" value="0">
                                                            <label for="passengersInfantSeat">Infant in Seat</label>
                                                        </div>
                                                        <div class="field">
                                                            <input id="passengersInfantLap" type="number" value="0">
                                                            <label for="passengersInfantLap">Infant in Lap</label>
                                                        </div>
                                                        <div class="field">
                                                            <input id="passengersChild" type="number" value="0">
                                                            <label for="passengersChild">Children</label>
                                                        </div>
                                                        <div class="field">
                                                            <input id="passengersSenior" type="number" value="0">
                                                            <label for="passengersSenior">Seniors</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
                </div>
        </section>
    </div>
</div>
<img src="~/Content/images/ajax-loader.gif" id="spinningImg" style="display:none; position:absolute;top:40%;left:40%;z-index:10;" />

<div class="results row" id="editor" >
    <div class="col-md-12">
        <h1>Results</h1>
    </div>
    <div id="tripOps" data-bind="foreach:trips.tripOption">
        <div class="col-md-12"><div class="col-md-1">Solution </div><div class="col-md-1" data-bind="text:$index() + 1"></div><div class="col-md-1 col-md-offset-1">Sale Price: </div><div class="col-md-8" data-bind="text:saleTotal"></div></div>
        <div data-bind="foreach: slice">
            <div class="col-md-12">
                <div class="col-md-1 col-md-offset-1">Slice </div><div class="col-md-10" data-bind="text:$index() + 1"></div>
                <div data-bind="foreach: segment">
                    <div class="col-md-offset-2 col-md-1" data-bind="text:flight.carrier"></div><div class="col-md-9" data-bind="text:flight.number"></div>
                    <div data-bind="foreach: leg">
                        <div class="col-md-offset-3 col-md-2" data-bind="text:origin"></div><div class="col-md-2" data-bind="text:departureTime"></div>
                        <div class="col-md-offset-1 col-md-2" data-bind="text:destination"></div><div class="col-md-2" data-bind="text:arrivalTime"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>A Feature</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Another Feature</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Some Feature Here</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

    <script>
        //Note: This view needs to be cleaned up alot. Also, knockout needs to be adjusted so
        //the multiple bindings error doesn't occur
        
        var dateVal = "e.g., @DateTime.Now.ToString("yyyy-MM-dd")";
        $("#date").attr( "placeholder", dateVal);

        var qpxResponse = {};
        var bindingsApplied = false;
        $(document).ready(function () {

            $(".dateField").datepicker({
                minDate: 0,
                maxDate: '+2Y',
                dateFormat:'yy-mm-dd'
            });

            //hide the results div
            $(".results").hide();
            //hide spinning gif here (set image display to hide)
            $("#spinningImg").hide();
            var applied = false;
            $("#checkAir").click(function () {
                //hide the results div
                $(".results").hide();
                //start spinning gif here (set image display to show)
                $("#spinningImg").show();
                
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("PostToFlights", "Home")",
                    data: { "request": { "slice": [{ "origin": $("#from").val(), "destination": $("#to").val(), "date": $("#date").val() }], "passengers": { "adultCount": $("#passengers").val(), "infantInLapCount": $("#passengersInfantLap").val(), "infantInSeatCount": $("#passengersInfantSeat").val(), "childCount": $("#passengersChild").val(), "seniorCount": $("#passengersSenior").val() }, "solutions": 20, "refundable": false } }
                })
                .done(function (response) {
                    console.log(response);
                    if (bindingsApplied == false) {
                         
                        qpxResponse = ko.mapping.fromJS(response);  //populate the flights
                        ko.applyBindings(qpxResponse); //using knockout to quickly map object to web page elements
                        bindingsApplied = true;

                    }
                    else {
                        ko.mapping.fromJS(response, qpxResponse);
                    }
                    
                    //hide spinning gif here (set image display to hide)
                    $("#spinningImg").hide();
                    //show results
                    $(".results").show(); //show the results div
                });
            });
            $("#advanced-options-link").click(function () {
                $(".advanced-options").toggle();
            });
        });

    </script>
